*.pyc
.DS_Store
/.cache
/.direnv
/.docker
/.dockerenv
/.envrc
/assets
/db.sqlite
/docker-compose.yml
/Dockerfile
/htmlcov
/Makefile
/media
/node_modules
/package-lock.json
/package.json
/README.md
/webpack.config.js
__pycache__
