<div align="center" class="alignment" style="line-height: 10px; box-sizing: border-box;">{% spaceless %}
    {% if primary_url %}<a href="{{ primary_url }}" style="outline: none; box-sizing: border-box;" tabindex="-1" target="_blank">{% endif %}
        <img alt="{{ subject }}" class="big" src="{{ image_url }}" style="display: block; height: auto; width: 580px; max-width: 100%; box-sizing: border-box; border-width: 0;" title="{{ subject }}" width="580">
    {% if primary_url %}</a>{% endif %}
{% endspaceless %}</div>
